.building-controller {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
    
    .control-section {
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 3px 15px 5px 12px;
        margin: 0px 0px 10px 0px;
        gap: 0px;
        font-size: 12px;
        color: #3C3C3C;
        border-radius: 10px;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        .select-item {
            cursor: pointer;
            display: flex;
            flex-flow: column;
            gap: 5px;
            min-width: 65px;
            align-items: center;

            &.isSelected {
                color: #0066FF;
            }

            &.isDisabled {
                cursor: not-allowed;
                opacity: 50%;
            }
        }

        .dropdown-menu {
            min-width: 70px;

            .dropdown-item {
                font-size: 12px;
                cursor: pointer;
            }
        }
        
        .vl {
            border-left: 1px solid #7d7d7d;
            height: 20px;
            left: 50%;
            margin-left: 5px;
            margin-right: 6px;
            top: 0;
        }
    }
}

.loading-bar {
    display: flex;
    position: absolute;
    z-index: 9999;
    flex-flow: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: #0d6efd;
    font-size: 36px;
    font-weight: bold;

    background-image: url("/public/assets/loading/loading-bg.jpg");
    background-color: #cccccc;
    background-size: cover;
}